.App {
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align: center;
  margin-top: 20px;
}
.Profile {
  border: 1px solid black;
  margin: 0 auto;
  width: 250px;
  height: 300px;
  border-radius: 50%;
}
.card-mass{
  display: flex;
  flex-wrap:wrap;
  gap:0.5rem;
  justify-content:flex-start;
}
.card-value{
  display: flex;
  justify-content: flex-end;
  
}
.head{
  border:1px solid black;
  background-color:white;
  padding:auto;
}
.main{
  background-color: black;
  padding: 100px 500px;
  color:white;

}
.m3{
  display:flex;
  float:right;
}
